@open-animation-time: 0.15s;
@actions-width: 120px;

.expenses-list {
    flex-direction: column;
    overflow-y: scroll;

    &.expenses-list--empty {
        align-items:center;
        justify-content: center;
    }

    & .expenses-day__content {
        flex-grow: 1;
        min-height: 1px;
    }

    & .expenses-item {
        position: relative;
        border-bottom: 1px solid var(--secondary-bg-color);
    }

    & .expenses-item--closed .expense-item__content {
        transform: translate(0, 0)
    }

    & .expenses-item--opened .expense-item__content {
        background: var(--bg-gray-color);
        transform: translate(-@actions-width, 0);
    }

    & .expense-item__content {
        position: relative;
        background: var(--bg-lighter-color);
        padding: 0.75em;
        -webkit-transition: transform @open-animation-time ease-out, background @open-animation-time ease-out;
	    -moz-transition: transform @open-animation-time ease-out, background @open-animation-time ease-out;
	    -ms-transition: transform @open-animation-time ease-out, background @open-animation-time ease-out;
        -o-transition: transform @open-animation-time ease-out, background @open-animation-time ease-out;
        transition: transform @open-animation-time ease-out, background @open-animation-time ease-out;
    }

    & .expense-item__actions {
        position: absolute;
        display: flex;
        flex-direction: row;
        width: @actions-width;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        & > button {
            text-transform: uppercase;
            flex: 1;
        }
    }

    & .expense-item__data {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.2rem;
        margin: 0.5em 0;
    }

    & .expense-item__header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    & .expense-item__footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 0.8em;
    }

    & .expense-item__time {
        flex-grow: 1;
        font-size: 0.8em;
    }

    & .expenses-day__header {
        position: relative;
        font-size: 1.4rem;
        padding: 0.5em;
        text-align: center;
        background: var(--secondary-bg-color);
    }

    & .expenses-day__refresh {
        position: absolute;
        background: transparent;
        left: 5px;
        padding: 4px;
        line-height: 0;
        margin-top: -4px;

        &:active {
            border-radius: 2px;
            background: white;
        }
    }

    & .expenses-day__collapse {
        position: absolute;
        background: transparent;
        right: 5px;
        padding: 4px;
        line-height: 0;
        margin-top: -4px;

        &:active {
            border-radius: 2px;
            background: clear;
        }
    }

    & .expenses-day__summary {
        padding: 1em 0.5em;
        border-top: 1px solid var(--secondary-bg-color);
        background: var(--secondary-bg-color);
        border-bottom: 2px solid var(--bg-color);
    }

    & .expenses-day__summary__amount {
        font-size: 1.1em;
        font-weight: 400;
        margin: 0 0.2em;
    }

    & .expense-item__category {
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        align-items: baseline;
        font-size: initial;
        margin: 0 0.3em;
        > span {
            width: 12px;
            height: 12px;
            margin-right: 0.2em;
        }
        > small {
            flex-grow: 1;
        }
    }

    & .expense-item__desc {
        margin: 0 0.5em;
    }

    & .expense-item__user {
        margin: 0 0.5em;
    }


    & .expense-item__amount {
        flex-grow: 1;
        font-size: 1.4em;
        text-align: right;
        & small {
            margin: 0 0 0 0.1em;
            font-size: initial;
        }
    }

    & .expenses-stats {
        & > ul {
            list-style: none;
        }
        margin: 0 auto;
    }

    & .expenses-stats__header {
        padding: 1em 0.5em;
        text-align: center;
        border-top: 1px solid var(--bg-color);
        background: var(--bg-color);
        border-bottom: 2px solid var(--bg-color);
    }

}
