.navigation-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background: var(--nav-bg-color);
    border-bottom: 1px solid var(--nav-border-color);
    text-align: center;
    z-index: 2;
    min-height: calc(42px - 1em);

    & .navigation-bar--lg {
        font-size: 1.1em;
    }

    & .navigation-bar--bold {
        font-weight: bold;
    }

    & .navigation-bar--hidden {
        display: none;
    }

    & .navigation-bar__title {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    & .navigation-bar__button {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: initial;
        z-index: 1;

        svg {
            margin:0 0.4em 0 0;
        }

        &.navigation-bar__button--reverse {
            flex-direction: row-reverse;

            svg {
                margin:0 0 0 0.4em;
            }
        }

        &.navigation-bar__button--hidden {
            opacity: 0.0;
        }
    }
}
