.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    border-bottom: 1px solid #efefef;
    text-align: center;
    min-height: calc(42px - 1em);

    & .navigation-bar--lg {
        font-size: 1.1em;
    }

    & .navigation-bar--bold {
        font-weight: bold;
    }

    & .navigation-bar--hidden {
        display: none;
    }

    & .navigation-bar__button {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: initial;

        svg {
            margin:0 0.4em 0 0;
        }

        &.navigation-bar__button--reverse {
            flex-direction: row-reverse;

            svg {
                margin:0 0 0 0.4em;
            }
        }
    }
}
